name: Build Package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-package:
    uses: ./.github/workflows/apger-engine.yml
    with:
      recipe_path: '.ci/recipe.yaml'
      scripts_path: '.ci/scripts'
